body {
  margin: 0;
  padding: 50px;
  font:
    normal 18px/1.4 Arial,
    sans-serif;
}

.value {
  border-left: 24px solid #000;
  padding-left: 10px;
  margin-top: 20px;
}

.buttons {
  margin-top: 20px;
}

.buttons button {
  margin: 0 8px 8px 0;
  padding: 2px 8px;
  font: inherit;
  cursor: pointer;
}
