#zoteroAnnotationManage-annotations-show-tags {
  background: #fff;

  .a {
    font-size: 12px;
  }
}

#zoteroAnnotationManage-PopupDiv.width100 {
  width: 100%;
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

#zoteroAnnotationManage-PopupDiv.minWidth100 {
  min-width: 100%;
  min-width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  min-width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  min-width: fill-available;
}

.tagButton {
  cursor: pointer;
}

.tagButton:hover {
  background-color: #ccc;
  box-shadow: 0px 0px 8px #9e0909;
  /* border: 2px solid green; */
}
